body {
  color: var(--global-white);
  font-family: var(--main-font-family);
  background-color: var(--global-white);
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: 60rem; /* 960/16 */
  margin-inline: auto;
  padding-inline: 1.875rem; /* 30/16 */
  width: 100%;
}
@media (max-width: 47.9988em) {
  [class*='__container'] {
    padding-inline: 0.9375rem; /* 15/16 */
  }
}
