@import 'style.css';

.main {
}
.main__hero {
  padding-block: 8.25rem 1.875rem; /* 102/16 */
}
.hero {
  position: relative;
}
.hero__logo {
  max-width: 10.75rem; /* 172/16 */
  aspect-ratio: 172 / 98;
  margin-block-end: 0.625rem; /* 10/16 */
  margin-inline: auto;
}
.hero__img {
  max-width: 47.75rem; /* 764/16 */
  aspect-ratio: 764 / 186;
  margin-inline: auto;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.entrepreneur__inner {
  max-width: 43rem; /* 688/16 */
  margin-inline: auto;
}
.entrepreneur__gradient {
  position: absolute;
  top: 50%;
  left: -129.942%; /* -894/688 */
  width: 149.564%; /* 1029/688 */
  aspect-ratio: 1029 / 540;
  transform: translateY(-50%);
  z-index: -1;
}
.entrepreneur__logo {
  margin-block-end: 0.625rem; /* 10/16 */
}
.entrepreneur__img {
  max-width: 43rem; /* 688/16 */
  width: 100%;
  aspect-ratio: 764 / 186;
  margin-block-end: 1.25rem; /* 20/16 */
  object-fit: contain;
}
.entrepreneur__label {
  font-size: 1.3125rem; /* 21/16 */
  margin-block-end: 0.4375rem; /* 7/16 */
  color: var(--global-pink-100);
  text-transform: capitalize;
  font-style: italic;
}
.entrepreneur__title {
  font-size: 2.5rem; /* 40/16 */
  font-weight: 700;
  text-transform: capitalize;
  margin-block-end: 1.25rem; /* 20/16 */
}
.entrepreneur__guarantee {
  max-width: 36.25rem; /* 580/16 */
  text-transform: capitalize;
  font-size: 1.75rem; /* 28/16 */
  font-weight: 600;
  line-height: normal;
  color: var(--global-blue-100);
  text-align: center;
  margin-inline: auto;
  margin-block-end: 2.75rem; /* 44/16 */
}
.entrepreneur__guarantee span {
  color: var(--global-white);
}
.entrepreneur__beyond {
  font-size: 0.75rem; /* 12/16 */
  font-weight: 300;
  text-align: center;
  margin-block-end: 0.625rem; /* 10/16 */
}
.entrepreneur__follow {
  font-weight: 700;
  font-size: 1.25rem; /* 20/16 */
  text-align: center;
}
.work--four .work__title {
  font-size: clamp(2.25rem, 3.75vw + 1.5rem, 3.75rem); /* 60/16 */
  margin-block-end: 0.625rem; /* 10/16 */
}

.work__title {
  font-weight: 700;
}
.work--three .work__title {
  text-align: center;
  font-size: clamp(2.25rem, 1.25vw + 2rem, 2.75rem);
  margin-block-end: 1.136em; /* 50/44 */
}
.work--three .work__gradient {
  top: 70%;
  transform: translateY(-50%) rotateX(180deg);
}
.work__label {
  font-size: 1.5rem; /* 24/16 */
  font-style: italic;
  color: var(--global-blue-100);
  margin-block-end: 2.8125rem; /* 45/16 */
}
.results__title {
  font-size: clamp(2.25rem, 2.813vw + 1.688rem, 3.375rem); /* 54/16 */
  font-weight: 700;
  margin-block-end: 1.875rem; /* 30/16 */
  text-align: center;
}
.results__columns {
  display: grid;
  gap: 1.25rem; /* 20/16 */
}
.results__item {
  max-width: 13.125rem; /* 210/16 */
  justify-self: center;
  text-align: center;
}
.results__img {
  max-width: 4.9375rem; /* 79/16 */
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  margin-block-end: 0.625rem; /* 10/16 */
}
.results__text {
  font-style: italic;
  line-height: 1.5;
  text-transform: uppercase;
}
.results__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 960 / 483;
  z-index: -1;
}
.guarantee__title {
  font-size: 2.25rem; /* 36/16 */
  line-height: 1.44; /* 52/36 */
  max-width: 29.375rem; /* 470/16 */
  font-weight: 700;
}
.guarantee__title span {
  color: var(--global-pink-100);
}
.guarantee__right {
  aspect-ratio: 535 / 341;
}
.guarantee__subtitle {
  font-size: 1.25rem; /* 20/16 */
  font-style: italic;
  font-weight: 700;
  margin-block-end: 0.3125rem; /* 5/16 */
  color: var(--global-blue-100);
}
.guarantee__list {
  font-weight: 500;
  margin-block-end: 2.25rem; /* 36/16 */
}
.guarantee__list li:not(:last-child) {
  margin-block-end: 0.3125rem; /* 5/16 */
}
.guarantee__list li {
  position: relative;
  padding-inline-start: 2.875rem; /* 46/16 */
}
.guarantee__list li::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 20px;
  background-color: var(--global-white);
  width: 0.4375rem; /* 7/16 */
  height: 0.4375rem; /* 7/16 */
  border-radius: 50%;
}
.guarantee__text {
  font-size: 0.875rem; /* 14/16 */
  font-weight: 500;
  line-height: 1.25; /* 20/16 */
}

.optimization__title {
  font-size: clamp(2.25rem, 1.25vw + 2rem, 2.75rem);
  font-weight: 700;
  line-height: 1.23; /* 54/44 */
}
.optimization__img {
  max-width: 5.75rem; /* 92/16 */
  aspect-ratio: 1;
}

.optimization__item {
  padding-inline-start: 2rem; /* 32/16 */
  font-weight: 500;
  line-height: 1.38; /* 22/16 */
  position: relative;
}
.optimization__item::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 0.4375rem; /* 7/16 */
  height: 0.4375rem; /* 7/16 */
  border-radius: 50%;
  background-color: var(--global-white);
}
.thumbnails__gradient,
.clients__gradient,
.brands__gradient {
  transform: translateY(-50%) rotateY(180deg);
}
.thumbnails__title {
  font-size: clamp(2.25rem, 1.25vw + 2rem, 2.75rem);
  font-weight: 700;
  text-align: center;
  margin-block-end: 0.75em; /* 33/44 */
}
.thumbnails__columns {
  margin-block-end: 1.75rem; /* 28/16 */
}
.thumbnails__videos {
  display: grid;
  justify-content: center;
  font-size: 0;
}
.thumbnails__video {
  aspect-ratio: 166 / 89;
}
.thumbnails__video iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shorts__body {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 9.556%; /* 86/900 */
  max-width: 53rem;
}
.shorts__title {
  font-weight: 700;
  font-size: clamp(2.25rem, 6.875vw + 0.875rem, 5rem);
}
.shorts__icons {
  display: flex;
  align-items: center;
}
.shorts__icon {
  max-width: 5.1875rem; /* 83/16 */
  aspect-ratio: 1;
}
.hero__img img,
.guarantee__right img,
.hero__logo img,
.shorts__icon img,
.backlinks__icon img,
.optimization__img img,
.streaming__img img,
.reports__img img,
.clients__img img,
.brands__img img,
.car__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (min-width: 59.9988em) {
  .results__columns {
    grid-template-columns: repeat(2, 0.24fr);
    justify-content: space-evenly;
  }
}
@media (min-width: 47.9988em) {
  .guarantee__body {
    display: flex;
    align-items: center;
    margin-block-start: -2rem; /* -32/16 */
    column-gap: 6.666%; /* 60/900 */
  }
  .guarantee__left {
    padding-block-start: 3rem;
    flex-basis: 33.889%; /* 305/900 */
  }
  .guarantee__right {
    flex-basis: 59.445%; /* 535/900 */
  }
  .work--three .section-header--margin,
  .optimization .section-header--margin,
  .shorts .section-header--margin {
    margin-block-end: 4rem; /* 64/16 */
  }
  .optimization__body {
    column-gap: 4%;
  }
  .thumbnails__videos {
    grid-template-columns: repeat(4, 10.375rem);
  }
  .shorts__body {
    margin-block-end: 3.125rem; /* 50/16 */
  }
  .shorts__icons {
    column-gap: 2.1875rem; /* 35/16 */
  }
}

.advertising__title,
.backlinks__title {
  font-weight: 700;
  font-size: clamp(2.25rem, 6.875vw + 0.875rem, 5rem);
  margin-block-end: 1.25rem; /* 20/16 */
  text-align: center;
}
.advertising__gradient {
  top: 50%;
  transform: translateY(-50%) rotateX(180deg);
}

.backlinks__columns {
  margin-block-end: 1.875rem; /* 30/16 */
}
.backlinks__icons {
  display: grid;
  grid-template-columns: repeat(3, minmax(5rem, 14.5rem));
  column-gap: 2%;
  justify-content: center;
}
.backlinks__icon {
  aspect-ratio: 232 / 122;
  max-width: 14.5rem; /* 232/16 */
}
.backlinks__gradient {
  top: 0;
  transform: rotateY(180deg);
}

.streaming__body,
.reports__body,
.clients__body {
  display: flex;
  align-items: center;
  column-gap: 4%;
  margin-block-end: 1rem;
}
.streaming__title,
.reports__title,
.clients__title,
.brands__title,
.pricing__title {
  font-size: clamp(2.25rem, 2.5vw + 1.75rem, 3.25rem);
  font-weight: 700;
  line-height: 1.25;
}
.brands__title {
  text-align: center;
  text-transform: capitalize;
  margin-block-end: 0.75em;
}
.pricing__title {
  text-align: center;
  text-transform: capitalize;
  margin-block-end: 0.5em;
}
.reports__title {
  max-width: 31.25rem; /* 500/16 */
}
.clients__title {
  max-width: 38rem;
}
.streaming__img {
  aspect-ratio: 1;
  max-width: 7.625rem; /* 122/16 */
}
.reports__img,
.clients__img {
  aspect-ratio: 1;
  max-width: 5.875rem; /* 94/16 */
}
.brands__columns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20/16 */
}
.brands__item {
  flex-basis: 12.5rem; /* 200/16 */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.25;
}
.brands__img {
  aspect-ratio: 1;
  max-width: 8.0625rem; /* 129/16 */
  margin-block-end: 0.75rem; /* 12/16 */
}
.brands__fullname {
  flex-grow: 1;
  margin-block-end: 0.75rem; /* 12/16 */
  font-size: 1.25rem; /* 20/16 */
  font-weight: 700;
}
.brands__audience {
  font-size: 1.125rem; /* 18/16 */
  font-weight: 600;
  width: 100%;
  background-color: var(--global-pink-100);
  border-radius: 0.5rem; /* 8/16 */
  padding-block: 0.75rem; /* 12/16 */
}
.pricing__columns {
  display: flex;
  column-gap: 1rem;
  row-gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding-block-end: 1rem;
}
.pricing__item {
  flex-basis: 17.5rem; /* 280/16 */
  border: 0.125rem solid var(--global-black);
  border-radius: 1rem;
  padding: 1.25rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--global-white);
  box-shadow: -10px 10px 10px 0px var(--global-white);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.pricing__price {
  font-weight: 600;
  font-size: 0.75rem; /* 12/16 */
  margin-block-end: 1rem;
  text-align: center;
  color: var(--global-purple-100);
  transition: color 0.3s ease;
}
.pricing__price span {
  font-size: 1.875rem; /* 30/16 */
}
.pricing__body {
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 1.75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.pricing__item:nth-child(3n + 1) .pricing__body {
  background-color: var(--global-grey-20);
}
.pricing__item:nth-child(3n + 2) .pricing__body {
  background-color: var(--global-purple-100);
}
.pricing__item:nth-child(3n) .pricing__body {
  background: linear-gradient(125deg, #f90 0%, #ff0 100%);
}
.pricing__model {
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--global-white);
  padding-block: 0.8125rem; /* 13/16 */
  color: var(--global-black);
  text-align: center;
  border-radius: 2rem;
  margin-block-end: 1rem;
}
.pricing__list {
  font-size: 0.875rem; /* 14/16 */
  font-weight: 500;
  line-height: 1.5;
  flex-grow: 1;
}
.pricing__item:nth-child(3n + 1) .pricing__list,
.pricing__item:nth-child(3n) .pricing__list {
  color: var(--global-black);
}

.pricing__list li {
  padding-inline: 2rem 1rem;
  position: relative;
}
.pricing__list li::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 5px;
  width: 13px;
  height: 10px;
}
.pricing__item:nth-child(3n + 1) li:before {
  background: url('../img/check-grey.webp') no-repeat 0 0;
}
.pricing__item:nth-child(3n + 2) li:before,
.pricing__item:nth-child(3n) li:before {
  background: url('../img/check-white.webp') no-repeat 0 0;
}
.main__car {
  background: #190943;
}
.car__container {
  position: relative;
  aspect-ratio: 960 / 540;
  padding-block: 1.25rem; /* 20/16 */
}
.car__speed-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 960 / 540;
}
.car__speed-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.car__speed-bg::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    270deg,
    #000 0%,
    #000 31%,
    rgba(0, 0, 0, 0) 100%,
    rgba(255, 255, 255, 0) 100%
  );
}
.car__list {
  display: flex;
  font-size: 0.875rem; /* 14/16 */
  font-weight: 900;
  flex-wrap: wrap;
  gap: 0.75rem; /* 12/16 */
  margin-block-end: 1.5rem; /* 24/16 */
  counter-reset: opportunity;
}
.car__list li {
  text-shadow: -1px 1px 10px var(--global-white);
}
.car__list li::before {
  counter-increment: opportunity;
  content: counter(opportunity) '.';
  margin-inline-end: 0.3125rem; /* 5/16 */
}
.car__body {
  display: flex;
  align-items: center;
  column-gap: 0.625rem; /* 10/16 */
  font-size: 0.75rem; /* 12/16 */
  line-height: 1.43; /* 20/14 */
  max-width: 18rem;
  font-weight: 300;
}
.car__body:not(:last-child) {
  margin-block-end: 1rem;
}
.car__img {
  aspect-ratio: 1;
  flex-basis: 2.9375rem; /* 47/16 */
  flex-shrink: 0;
}
@media (any-hover: hover) {
  .pricing__item:hover {
    background-color: var(--global-purple-100);
    box-shadow: -10px 10px 10px 0px var(--global-purple-100);
  }
  .pricing__item:hover .pricing__price {
    color: var(--global-white);
  }
}
@media (min-width: 29.9988em) {
  .optimization__body {
    display: grid;
    grid-template-columns: 0.62fr 0.38fr;
    row-gap: 1rem;
    margin-block-end: 2.5rem; /* 40/16 */
  }
  .optimization__title {
    justify-self: end;
    max-width: 21.25rem; /* 340/16 */
  }
  .optimization__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 4%;
  }
  .optimization__item {
    max-width: 21.25rem; /* 340/16 */
  }
  .optimization__item:nth-child(2n + 1) {
    justify-self: end;
  }
  .streaming__columns,
  .reports__columns,
  .clients__columns {
    display: flex;
  }
  .streaming__columns .columns-thumbnails__column,
  .reports__columns .columns-thumbnails__column,
  .clients__columns .columns-thumbnails__column {
    flex-basis: 21rem;
  }
}
@media (max-width: 61.9988rem) {
  .main__hero {
    padding-block: 8rem 1.875rem; /* 102/16 */
  }
}
@media (max-width: 59.9988em) {
  .results__columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.9988em) {
  .main__hero {
    padding-block: 7rem 1.875rem; /* 102/16 */
  }
  .guarantee__title,
  .guarantee__left {
    margin-block-end: 1rem;
  }
  .optimization__body,
  .shorts__icons {
    column-gap: 1rem;
  }
  .thumbnails__videos {
    grid-template-columns: repeat(3, 1fr);
  }
  .shorts__body {
    margin-block-end: 2rem;
  }
}
@media (max-width: 29.9988em) {
  .main__hero {
    padding-block: 6.5rem 1.875rem; /* 102/16 */
  }
  .optimization__img {
    margin-left: auto;
  }
  .optimization__body,
  .optimization__title {
    margin-block-end: 1rem;
  }
  .optimization__item:not(:last-child) {
    margin-block-end: 1rem;
  }
  .thumbnails__videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
